// =========================================================
// Body Classes
// =========================================================


body.fixed_header {
  header {
    transform: translateY(-100%);
    transition: transform .05s ease;
  }
}

body.sticky_logo {
  header {
    position: fixed;
    transform: translateY(0);
    transition: transform .3s ease;
  }

  @include large-up {
    .logo {
      transform: translateY(0);
      transition: transform .3s ease;
    }
  }
}


body.window_load {

  opacity: 1;
  .title_box {
    &:before {transform: translate(0, 0);}
    &:after {transform: translate(0, 0);}
    .box:before {transform: translate(0, 0);}
    .box:after {transform: translate(0, 0);}
  }
}