//reset
*{box-sizing: border-box;}

//fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700");

/*
//==========================\\
|| Structure                ||
\\==========================//
*/

//general structure
html {
	height: 100%;
	width: 100%;
}

body {
	background: #222;
	font-family: "Open Sans";
	font-weight: 300;
	background: url("../graphics/backgrounds/green_mountains.jpg") 50% 50% / cover no-repeat;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

//nav
nav.main_nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translateX(-10px);
	transition: all .7s ease-out;

	.menu {
		display: none !important;
	}

	@include small-down{
		height: auto;
		width: 100%;
		transform: translateX(0) translateY(-100%);
		.menu {
			display: block;
			width: 100%;
		}
	}

	ul {
		transform: translate(10px, 50%);
		@include small-down {
			transform: none;
		}
	}

	li {
		display: block;
	}

	a {
		position: relative;
		left: -10px;
		display: block;
		width: 100%;
		padding: 30px 20px 30px 30px;
		text-align: center;
		transition: all .15s ease-out;
		@include small-down {
			padding: 10px;
			left: 0;
			position: absolute;
		}
	}

	@mixin colors($class, $color) {
		.#{$class} a {
			background: $color;
			&:hover {
				background: lighten($color, 10%);
			}
		}
	}

	$menu-bg: darken(slategrey, 42%);
	@include colors(home, #e84c3d);
	@include colors(work, #1dd1ae);
	@include colors(social, #3598db);
	@include colors(contact, #f5c700);
	@include colors(menu, $menu-bg);


}


@mixin active-page($class) {
	body.#{$class}_page {	
		.#{$class} {
			position: relative;
			z-index: 100;
			a {
				left: 0;
				padding: 30px 30px 30px 20px;
				@include small-down {
					padding: 20px;
				}
			}
		} 

	}
}

@include active-page(home);
@include active-page(work);
@include active-page(social);
@include active-page(contact);




//page
.site_wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 50px 0 (50px + 100px);
	background: rgba(#000, .75);
	@include small-down {
		padding: 0 50px;
	}
}

.page_title {
	h1 {
		color: #999;
	}
	h4 {
		color: #777;
	}
}

.primary {
	margin-top: 100px;
	color: #aaa;
}

/*
//==========================\\
|| Nav Open                 ||
\\==========================//
*/
body.nav_is_visible {
	nav.main_nav {
		transform: translateY(-42px);
		transform: translateY(0);

		a {
			position: relative;
		}
	}
}

/*
//==========================\\
|| Styles                   ||
\\==========================//
*/
a,
a:link,
a:visited {
	color: #fff;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding: 4px 0;
	line-height: 1;
	text-align: right;
	text-transform: uppercase;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 50px;
	letter-spacing: 1px;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 30px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}
hr {
	height: 0;
	border: 0;
	border-top: 1px solid #222;;
}