/*
//==========================\\
|| Main                     ||
\\==========================//
*/

.page_title {
  h1 {
    color: #999;
  }
  h4 {
    color: #777;
  }
}

.content {
  color: #aaa;
}