/*
//==========================\\
|| Nav                      ||
\\==========================//
*/

nav.main_nav {
  position: fixed;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translateX(-10px);
  transition: transform .7s ease-out;

  @include small-down{
    height: auto;
    width: 100%;
    transform: translateX(0) translateY(-100%);
  }

  ul {
    position: relative;
    top: 50%;
    transform: translate(10px, -50%);
    @include small-down {
      top: 0;
      transform: none;
    }
    @media only screen and (max-height: 328px) {
      top: 0;
      transform: translate(10px,0);
      height: 100%;
    }
  }

  //ul height: 328px

  li {
    display: block;
  }

  a {
    position: relative;
    left: -10px;
    display: block;
    width: 100%;
    padding: 30px 20px 30px 30px;
    text-align: center;
    transition: background .2s ease, padding .5s ease-out;//
    @include small-down {
      padding: 10px;
      left: 0;
      position: absolute;
    }


  }

  @mixin colors($class, $color) {
    //set nav a backgrounds
    .#{$class} a {
      background: $color;
      &:hover {
        background: lighten($color, 10%);
      }
    }

    // set page title h6 color
    @at-root {
      .#{$class}_content {
        .page_title {
          h6 {
            color: $color;
          }
        }
      }      
    }

  }

  @include colors(home, #e84c3d);
  @include colors(work, #1dd1ae);
  @include colors(social, #3598db);
  @include colors(contact, #f5c700);
}


@mixin active-page($class) {
  body.#{$class}_page { 
    .#{$class} {
      position: relative;
      z-index: 100;
      a {
        left: 0;
        padding: 30px 30px 30px 20px;
        @include small-down {
          padding: 20px;
          transform: translateY(0);
          transition: .5s transform all 1s;
        }
      }
    } 

  }
}
@include active-page(home);
@include active-page(work);
@include active-page(social);
@include active-page(contact);