/*
//==========================\\
|| Page Setter              ||
\\==========================//
*/
body {
  background: #000;
}

.wrap {
  position: relative;
  z-index: 990;
}

.main {
  .wrap {
    padding-bottom: 100px;
  }

  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  height: 100%;
  width: 100%;
  padding: 100px 140px;
  opacity: 0;
  visibility: hidden;
  top: -100%;

  @include medium-up {
    transition: opacity .8s ease-out, top .75s ease-out;
  }
  
  @include small-down{
    padding: 100px 40px 300px;
  }

  &:after {
    content: "";
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    transition: opacity .5s ease-out;
  }
}

@mixin page-setter($class, $bg-image) {
  body.#{$class}_page {
    .#{$class}_content {
      opacity: 1;
      visibility: visible;
      z-index: 800;
      top: 0;
      
      &:after {
        background: url("../graphics/backgrounds/#{$bg-image}") 50% 50% / cover no-repeat;
      }
    }
  }

  .#{$class}_content {
    &:after {
      background: url("../graphics/backgrounds/#{$bg-image}") 50% 50% / cover no-repeat;
    }
  }
  
}//

@include page-setter(home, "desk_workstation.jpg");
@include page-setter(work, "modern_meeting.jpg");
@include page-setter(social, "transit_seats.jpg");
@include page-setter(contact, "bed_coffee.jpg");

