/*
//==========================\\
|| Settings                 ||
\\==========================//
*/

//fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700");

//vars
$font-family-1: "Open Sans", sans-serif;
$wrap-width: 1170px;
$body-bg-color: #222;