/*
//==========================\\
|| Social                   ||
\\==========================//
*/

.social_content {
  
  .social_icons {
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: (100%/3);
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include small-down {
        width: 100%;
      }
    }
    a {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background .2s ease;
      &:hover {
        background: rgba(#fff, .2);
        .fa {
          opacity: .9;
        }
        //change color
        @mixin social($class) {
          .fa-#{$class} {
            @extend %#{$class};
          }
        }
        @include social(twitter);
        @include social(codepen);
        @include social(github);
      }
    }
    .fa {
      font-size: 80px;
      opacity: .7;
    }
  }

}