/*
//==========================\\
|| Work Content             ||
\\==========================//
*/

.work_content {

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  section {
    display: block;
    background-color: rgba(#fff, .2);
    flex-basis: (1920px/4);
    height: (1080px/4);
    max-width: ((1156px - 40px)/2);;
    margin-bottom: 20px;
    border-radius: 4px;
    margin: 10px;
    @include small-down {
      width: 100%;
      margin: 10px 0;
    }
    .work_title {
      text-transform: uppercase;
      background: rgba(#000, .5);
      padding: 4px 10px;
      color: #fff;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(#ccc, .3);
      span {
        width: 14px;
        height: 14px;
        margin: 0 4px;
        border-radius: 10px;

        &.close {background: #ff3541; margin-left: auto;}
        &.min {background: #ffc000;}
        &.max {background: #00db43;}
      }
    }    

  }

  @mixin website-bg($class, $bg) {
    .#{$class} {
      background: #fff url('../graphics/#{$bg}') 50% 50% / cover no-repeat;
    }    
  }


  @include website-bg("website1", "backgrounds/desk_workstation_profile.jpg");
  @include website-bg("website2", "backgrounds/forest_mountains.jpg");
  @include website-bg("website3", "backgrounds/green_mountains.jpg");
  @include website-bg("website4", "backgrounds/icy_mountains.jpg");




}