// =========================================================
// Settings
// =========================================================

// fonts
@import url("http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,300");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

// vars
$font-0: "Montserrat", sans-serif;
$font-1: "Raleway", sans-serif;

$wrap-width: 1170px;
$wrap-padding: 0 15px;


$dkgrey: #212121;

$ltgrey: #f8f8f8;



// social colors
$github: #161414;
$facebook: #3B5998;
$flickr: #FE0883;
$google: #C63D2D;
$instagram: #4E433C;
$linkedin: #4875B4;
$tumblr: #395774;
$twitter: #55ACEE;
$youtube: #FF3333;
$pinterest: #910101;
$dribbble: #EA4C89;
$codepen: #212121;



// extend social colors
%github { color: $github; }
%facebook { color: $facebook; }
%flickr { color: $flickr; }
%google { color: $google; }
%instagram { color: $instagram; }
%linkedin { color: $linkedin; }
%tumblr { color: $tumblr; }
%twitter { color: $twitter; }
%youtube { color: $youtube; }
%pinterest { color: $pinterest; }
%dribbble { color: $dribbble; }
%codepen { color: $codepen; }
