// =========================================================
// Footer
// =========================================================
footer {
  display: none;
  padding: 100px 10px;
  .wrap {
    display: flex;
    justify-content: center;
    > div {
      width: 25%;
    }
  }
}