// =========================================================
// Homepage
// =========================================================

.wrap {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
}


header {
  text-align: center;
  padding: 30px;
  .name,
  .title {
    font-family: $font-family-5;
    font-size: 36px;
    color: #333;
  }
  .name {
  }
  .title {
    font-size: 15px;
  }
}

section.social {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    width: 25%;
    height: 200px;
    min-width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      i {color: #fff;}
      transition: background .3s ease;
    }
    &.twitter:hover {background: $twitter;}
    &.codepen:hover {background: $codepen;}
    &.github:hover {background: $github;}
    &.dribbble:hover {background: $dribbble;}
  }
  i {
    font-size: 120px;
  }
  .fa-twitter { color: $twitter; }
  .fa-codepen { color: $codepen; }
  .fa-github { color: $github; }
  .fa-dribbble { color: $dribbble; }

}