// =========================================================
// Homepage
// =========================================================
@mixin window_load {
  @at-root {
    body.window_load {
      @content 
    }
  }
}

.homepage {
  overflow: hidden;

  .site-container {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s ease;
  }


  .page {
    padding: 20px;
    height: 100%;
    width: 100%;
    background: grey;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }





  @for $x from 0 through 5 {

    @for $y from 0 through 5 {

      .column-#{$x}.row-#{$y} {
        transform: translate($x*100%, $y*100%);
      }

    }

  }



}