// =========================================================
// Homepage
// =========================================================


/////////////
// logo
/////////////
.logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  transform: translateY(-100%);
  transition: transform .05s ease;
  img {
    max-width: 64px * 2;
  }
}


/////////////
// title
/////////////
.title {
  height: 100vh;
  font-family: $font-0;
  font-size: 100px;
  font-weight: bold;
  @include medium-down {
    font-size: 50px;
  }
  @include small-down {
    font-size: 40px;
    min-height: 560px;
    span {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  img {
    border: 0;
    padding: 0;
    margin: 20px;
  }
  .title_box {
    padding: 10px 30px;
  }
}

.title_box {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    position: absolute;
    content: "";
    height: 4px;
    background: $light;
    left: 4px;
    right: 4px;
    top: 4px;
    transition: transform .8s ease .5s;
  }
  &:after{
    top: auto;
    bottom: 4px;
    transition: transform .8s ease .5s;

  }

  .box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 4px;
      background: $light;
      left: 4px;
      bottom: 4px;
      top: 4px;
      transition: transform .5s ease .8s;
    }
    &:after{
      left: auto;
      right: 4px;
      transition: transform .5s ease .8s;

    }
  }

  
  &:before {transform: translate(-1000px, 0);}
  &:after {transform: translate(1000px, 0);}
  .box:before {transform: translate(0, 1000px);}
  .box:after {transform: translate(0, -1000px);}

}

/////////////
// third
/////////////
.third {
  .skills {
    li {
      a{
        background: rgba(#fff, .5);
        padding: 4px 6px;
        margin: 5px;
        display: inline-block;
        border-radius: 4px;
        color: $dark;
        &:hover {
          background: rgba(#fff, .75);
        }
      }
    }
  }
  .fa-code {
    color: $light;
    text-shadow: 5px 5px $dark;
  }
}

/////////////
// fourth
/////////////
.fourth {
  .screen{
    &:before {
      background: #ddd;
    }
  }
}

/////////////
// components
/////////////
.social {
  i {
    font-size: 150px;
    padding: 10px;
    transition: font-size .2s ease;
  }

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #222;
    width: 100px;
    height: 100px;
    margin: 10px;
    overflow: hidden;
    &:hover {
      i {
        font-size: 100px;
      }
      .description {
        transform: translateY(0);
      }
    }
    .description {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform .15s ease;
      transform: translateY(100%);
      color: #fff;
      background: rgba(#000, .8);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 0;
      font-weight: bold;
    }
  }
  .comment { color: $dark; }
  .twitter { color: $twitter; }
  .codepen { color: $codepen; }
  .linkedin { color: $linkedin; }
  .github { color: $github; }
  .dribbble { color: $dribbble; }
}

