// =========================================================
// Homepage
// =========================================================

.wrap {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
}

body {
  background: #222;
  color: #eee;
  @include small-down {
    color: #222;
  }
}

.bg-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: #222;
  @include small-down {
    background: #dbdbdb;
  }
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .1;
  @include medium-up {
    background: #fff url('../graphics/backgrounds/desk_workstation.jpg') 50% 50% / cover no-repeat;
  }
}

header {
  text-align: center;
  padding: 30px;
  .name,
  .title {
    font-family: $font-family-5;
    font-size: 36px;
    //color: #333;
  }
  .name {
  }
  .title {
    font-size: 15px;
  }
}

section.social {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    position: relative;
    width: 25%;
    height: 200px;
    min-width: 200px;

    @include medium-down {
      width: 50%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: transform .4s ease;
    z-index: 5;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
      z-index: 100;

      i {
        color: #fff;
      }
    }
    &.twitter {background: $twitter;}
    &.codepen {background: $codepen;}
    &.github {background: $github;}
    &.dribbble {background: $dribbble;}
  }
  i {
    color: #fff;
    font-size: 120px;
  }
  //.fa-twitter { color: $twitter; }
  //.fa-codepen { color: $codepen; }
  //.fa-github { color: $github; }
  //.fa-dribbble { color: $dribbble; }

}