//imports

//fonts
$font-1: "Lucida Console", Monaco, monospace;
$font-2: "Courier New", Courier, monospace;

//colors
$nearblack: #222;
$ltnearblack: #212121;

$xdkgrey:  #282828;
$dkgrey:  #242d2d;
$mdgrey:  #394344;
$grey:    #4b5b59;
$ltgrey:  #82837d;
$xltgrey: #c5cfc6;

$blue: #001727;
$xltblue: #beceb2;

// $orange:  #d3472e;
$orange: #c44524;
$neon-orange: #ff5700;

$white-orange: #e9dab9;
$white-dkorange: #d88e73;

$dkoffwhite: #ffffb5;
$offwhite: #b9c1c1;
$white:    rgba(#efefef,.98);


//other
$wrap-width: 1000px;


//keyframes
@keyframes blink {
  0% {opacity: 1;}
  49% {opacity: 1}
  50% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}


//extends
%box-shadow {
  box-shadow: 0 0 30px -3px $dkgrey;
}

%hand-border {
  border-radius:  255px 15px 225px 15px/15px 225px 15px 255px;
}




////////////////////////////////////////////////////////////////////////////////
*, *:before, *:after {
  box-sizing: border-box;
  cursor: default;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: $font-1;
  color: $white-orange;
  background: #131313;
  font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-2;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 20px;
  line-height: 26px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $white-orange;
  text-decoration: none;
  &:hover {
    color: $nearblack;
    background: $white-orange;
  }
}

strong {
  font-weight: 400;
  border-bottom: 2px solid $white;
}

img {
  max-width: 100%;
}


$inset: 10px;
.site-container {
  position: absolute;
  top: $inset;
  left: $inset;
  bottom: $inset;
  right: $inset;
  padding: 20px;
  background: $xdkgrey;
  transition: .5s ease opacity .2s, 0s ease visibility .2s;
  z-index: 10;
}



.button {
  height: 40px;
  width: 40px;
  border: 1px solid $white-orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  margin-bottom: 10px;
}


.menu-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-logo {
    position: absolute;
    left: 0;
  }

  nav.main-nav {
    a {
      display: inline-block;
      border: 1px solid $white-orange;
      padding: 4px 8px;
    }
  }


}









.page-container {
  display: none;
  position: absolute;
  height: 500px;
  width: 400px;
  top: 60px;
  left:  60px;
  background: lighten($xdkgrey,2);
  border: 1px solid $white-orange;
  z-index: 1;
  @extend %box-shadow;

  .title-bar {
    width: 100%;
    background: $white-orange;
    padding-left: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $dkgrey;
    .close-page-button {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 2px;
        background: $dkgrey;
        &:first-child {transform: translate(-50%, -50%) rotate(-45deg);}
        &:last-child {transform: translate(-50%, -50%) rotate(45deg);}
      }
    }
  }
  .page-content {
    padding: 20px;
  }
}


.page-master-terminal {
  display: block;
}





///////////////////////////////////////////////////////////////////////////
.pace-running {
  .site-container {
    opacity: 0;
    visibility: hidden;
  }
}


//pace
///////////////////////////////////////////////////////////////////////////
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 1;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  max-width: 500px;
  border: 1px solid $white-orange;
  overflow: hidden;
  @extend %box-shadow;
}


.pace .pace-progress {
  transform: translate3d(0, 0, 0);
  max-width: 500px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: $white-orange;
}

.pace.pace-inactive {
  display: none;
}

// typed.js
///////////////////////////////////////////////////////////////////////////
.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}





