//imports

//fonts
$font-1: "Lucida Console", Monaco, monospace;
$font-2: "Courier New", Courier, monospace;

//colors
$nearblack: #222;

$xdkgrey:  #282828;
$dkgrey:  #242d2d;
$mdgrey:  #394344;
$grey:    #4b5b59;
$ltgrey:  #82837d;
$xltgrey: #c5cfc6;

$blue: #001727;
$xltblue: #beceb2;

$orange:  #d3472e;

$dkoffwhite: #ffffb5;
$offwhite: #b9c1c1;
$white:    rgba(#efefef,.98);

//other
$wrap-width: 1000px;


//keyframes
@keyframes blink {
  0% {opacity: 1;}
  49% {opacity: 1}
  50% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

//extends
%box-shadow {
  box-shadow: 0 0 30px -5px $dkgrey;
}



////////////////////////////////////////////////////////////////////////////////
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: $font-1;
  color: $white;
  font-size: 14px;

  background: $dkoffwhite;
  background: linear-gradient(to left, $dkoffwhite, lighten($dkoffwhite,2));
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-2;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 40px;
  line-height: 46px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: $orange;
  }
}

strong {
  font-weight: 400;
  border-bottom: 2px solid $white;
}

img {
  max-width: 100%;
}


.site-container {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  padding: 40px;
  transition: .5s ease opacity .2s, 0s ease visibility .2s;
  background: $orange;
  z-index: 10;
  @extend %box-shadow;

}


.menu-container {
  position: absolute;
  top: 40px;
  left: 40px;
  
  .menu-toggle {
    height: 40px;
    width: 40px;
    border: 1px solid $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    cursor: pointer;
    .bar {
      width: 100%;
      height: 1px;
      background: $white;
    }
  }

  .open-button {
    
  }

}




.page-container {
  height: 100%;
  margin: 0 200px;
  overflow: auto;
  margin-right: -3000px;
  padding-right: 2990px;
}




nav.main-nav {
  ul {}
  li {
    &:nth-child(1) a {transition-delay: 0.4s}
    &:nth-child(2) a {transition-delay: 0.3s}
    &:nth-child(3) a {transition-delay: 0.2s}
    &:nth-child(4) a {transition-delay: 0.1s}
  }
  a {
    display: inline-block;
    border: 1px solid $white;
    padding: 4px;
    margin-top: -1px;
    color: $white;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease opacity .2s, 0 ease visibility 0;
  }
}






///////////////////////////////////////////////////////////////////////////
.menu-is-open {
  nav.main-nav {
    li {
      &:nth-child(1) a {transition-delay: 0.1s}
      &:nth-child(2) a {transition-delay: 0.2s}
      &:nth-child(3) a {transition-delay: 0.3s}
      &:nth-child(4) a {transition-delay: 0.4s}
    }
    a {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
  }
}

///////////////////////////////////////////////////////////////////////////
.pace-running {
  .site-container {
    opacity: 0;
    visibility: hidden;
  }
}


//pace
///////////////////////////////////////////////////////////////////////////
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 1;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  max-width: 500px;
  border: 1px solid $orange;
  overflow: hidden;
  @extend %box-shadow;
}

.pace .pace-progress {
  transform: translate3d(0, 0, 0);
  max-width: 500px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: $orange;
}

.pace.pace-inactive {
  display: none;
}






